#three1 {
    width: 100%;
    height: 400px;
}
#three1-1 {
    width: 100%;
    height: 100%;
}

@media (800px<=width){
    .three {
        display:flex
    }
}

@media (400px<=width){
    #three2 {
        width: 400px;
        height: 400px;
    }

    #three3 {
        width: 400px;
        height: 400px;
    }
}

@media (width <400px){
    #three2 {
        width: 100%;
        aspect-ratio: 1/1;
    }

    #three3 {
        width: 100%;
        aspect-ratio: 1/1;
    }
}


#three2-1 {
    width: 100%;
    height: 100%;
}
#three3-1 {
    width: 100%;
    height: 100%;
}